html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::selection {
    background-color: #7c3aed;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #070b1a;
}

::-webkit-scrollbar-thumb {
    background: #7c3aed;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8b5cf6;
}